@page "/add-printer"
@inject HttpClient client

<h2>Přidat tiskárnu</h2>

<MudPaper Class="pa-4">
    <MudForm @ref="form">
        <MudTextField T="string" Label="Označení tiskáren" Required="true" @bind-Value="tempPrinter.Name"/>        
    </MudForm>
</MudPaper>
<MudPaper Class="pa-4">
    @if (_loading)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
            Odesílám
        </MudButton>
    }
    else
    {        
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CreatePrinter">Uložit</MudButton>
    }
</MudPaper>


@code {
    private MudForm form;
    private dtPrinters tempPrinter = new dtPrinters();
    private bool _loading = false;

    private async Task CreatePrinter()
    {
        _loading = true;
        await client.PostAsJsonAsync<dtPrinters>("/api/printer", tempPrinter);
        tempPrinter = new dtPrinters();
        _loading = false;
    }
}
