@page "/list-printer"
@inject HttpClient client

<h2>Všechny tiskárny</h2>

<MudTable Items="@Printers" Hover="true" Loading="_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Označení tiskárny</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Id</MudTd>
        <MudTd DataLabel="Jméno">@context.Name</MudTd>
    </RowTemplate>
</MudTable>

    @code {
    private IEnumerable<dtPrinters> Printers = new List<dtPrinters>();
    private bool _loading = false;
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        Printers = await client.GetFromJsonAsync<List<dtPrinters>>("/api/printer");
        _loading = false;
    }
}
