@page "/edit-user/{Id:int}"
@inject HttpClient client
@inject ISnackbar Snackbar

<h2>Upravit uživatele</h2>
<MudPaper Class="pa-4 mb-4">
    <MudForm @ref="form">
        <MudTextField T="string" Label="Jméno a příjemní" Required="true" @bind-Value="formUser.Name" />
        <MudTextField T="string" Label="Kancelář" Required="true" @bind-Value="formUser.Office" Mask="@(new PatternMask("a 000"))" />
        <MudTextField T="string" Label="Odbor" Required="true" @bind-Value="formUser.Department" />
        <MudTextField T="string" Label="Email" Required="true" InputType="InputType.Email" @bind-Value="formUser.Email" />
    </MudForm>
</MudPaper>
<MudPaper Class="pa-4">
    @if (_loading)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
            Odesílám
        </MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@EditUserForm">Upravit</MudButton>
    }
</MudPaper>


@code {
    [Parameter]
    public int Id { get; set; }

    private MudForm form;
    private dtUser formUser = new dtUser();
    private bool _loading = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await client.GetFromJsonAsync<dtUser>($"/api/user/{Id}");
        if (result != null)
        {
            formUser = result;
        }
        else
        {
            Snackbar.Add("Uživatel nenalezen", Severity.Error);
        }
    }

    private async Task EditUserForm()
    {
        _loading = true;
        var result = await client.PutAsJsonAsync<dtUser>("/api/user", formUser);
        if (result.IsSuccessStatusCode)
        {
            var entity = await result.Content.ReadFromJsonAsync<dtUser>();
            Snackbar.Add($"Byl upravený uživatel \"{entity.Name}\"", Severity.Success);
            this.formUser = new dtUser();
        }
        else
        {
            Snackbar.Add(await result.Content.ReadAsStringAsync(), Severity.Error);
        }
        _loading = false;
    }
}
